<div class="col-sm-3">

    <h2 class="col-xs-12 title">{{ picture.title }}</h2>

    <a href="{{ picture.image.url }}" target="_blank">
        <img class="col-xs-12 picture" src="{{ picture.image.url }}"/>
    </a>
    <p class="col-xs-6 text-left">
        <a href="javascript:void(0);" class="laughing-link" data-picture-id="{{ picture.id }}">
            <i class="em em-laughing"></i>  <span class="count">{{ picture.laughing_count }}</span>
        </a>
        <a href="javascript:void(0);" class="fearful-link"  data-picture-id="{{ picture.id }}">
            <i class="em em-fearful"></i>  <span class="count">{{ picture.fearful_count }}</span>
        </a>
        <a href="javascript:void(0);" class="banana-link"   data-picture-id="{{ picture.id }}">
            <i class="em em-banana"></i>  <span class="count">{{ picture.banana_count }}</span>
        </a>
    </p>
    <p class="col-xs-6 text-right">
        <a class="report-link" href="javascript:void(0);" data-picture-id="{{ picture.id }}">Report this picture</a>
    </p>
</div>