
.logo {
   height: 40px;
   margin-top: -10px;
   -webkit-transition: -webkit-transform .8s ease-in-out;
   transition: transform .8s ease-in-out;
}
.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);

}
.navbar-brand a {
    color:#000;
}
.navbar {
    background-color: #b4cff9;
    border-color: #8eabf9;
}

.alert-danger {
    background-color: #8eabf9;

}
.btn-primary{
    background-color: #8eabf9 !important;
    border-color: #6e83f9 !important;
}

.btn-primary:hover {
   background-color: #8eabf9 !important;
    border-color: #6e83f9 !important;
}   

.btn-primary:active, .btn-primary:checked {
    background-color: #6e83f9 !important;
    border-color: #3f6af9 !important;
}

body {
    background-color: #e7eaf9;
}

#refresh {
    
}

menu {
    margin-bottom: 50px;
}

main {
    padding: 50px;
}

.modal-body {
    max-height: 250px;
    overflow-y: auto;
}

main section, main aside {
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 50px;
}

#fakeUpload, #goBack {
    margin-top: 20px;
}

aside span {
    height: 23px !important;
    margin-bottom: 10px;
}

#clickToDownload {
    display: none;
}

a:hover + #clickToDownload {
    margin-top: -50px;
    height: 50px;
    line-height: 50px;
    font-size: 200%;
    display: block;
}

#clickToDownload span {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

#gallery img {
    margin-bottom: 20px;
    border: solid #6e83f9 1px;
    padding: 0;
}

#gallery a .badge {
    position: relative;
    margin-top: -90px;
    margin-right: 3px;
    z-index: 1 !important;
}

.ad {
    margin-bottom: 0;
}


#chat iframe{ 
    min-height: 60vh;
}

.picture {
    max-height: 500px;
}

h2.title {
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow:ellipsis;
}